body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdfeff; /* Remplacer cette couleur par le bleu de l'image */
}

.login-container {
  display: flex;
  height: 80vh;
  width: 70vw;
  margin: auto;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.right-section {
  width: 50%;
  background: url('../assets/logo.png') no-repeat center;
  background-size: cover;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #333;
  font-size: 18px;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.remember-me {
  display: flex;
  align-items: center;
  color: #333;
}

.remember-me input {
  margin-right: 10px;
}

button {
  background: #03e9f4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #029dbb;
}

.login-links {
  margin-top: 20px;
}

.login-links a {
  color: #03e9f4;
  text-decoration: none;
  transition: color 0.3s;
}

.login-links a:hover {
  color: #029dbb;
}
